:root {
    --primaryColor: #e0e0e0;
    --secondaryColor: #ffa742;
    --font: 'Poppins';
}

body {
    background-color: var(--primaryColor);
}

.searchContainer {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 25vh;
    width: 65vw;
    height: 8vh;
}

#search {
    flex-grow: 1;
    outline: none;
    border: none;
    font-family: var(--font);
    font-size: 24px;
}

.submit {
    flex-grow: 0.5;
    border: none;
    background-color: var(--secondaryColor);
    color: white;
    cursor: pointer;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
}

.submit:active {
    background-color: #FF9C2B;
}

.mainContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 95vh;
    width: 65vw;
    height: 120vh;
}

.mainContainer span {
    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
}

.childContainer {
    width: 62vw;
    height: 100vh;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;

}

.characterCard {
    width: 250px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  5px 5px 75px #b5b5b5,
             -5px -5px 75px #ffffff;
}

.characterCard img {
    width: 250px;
    height: 300px;
}
