:root {
    --primaryColor: #e0e0e0;
    --secondaryColor: #ffa742;
    --font: 'Poppins';
}

body {
    background-color: var(--primaryColor);
    overflow-x: hidden;
    width: 100%;
}

.searchContainer {
    display: flex;
    margin: auto;
    width: 65vw;
    height: 8vh;
    transform: translate(0, 25vh);
}

#search {
    flex-grow: 1;
    outline: none;
    border: none;
    font-family: var(--font);
    font-size: 24px;
}

.submit {
    flex-grow: 0.5;
    border: none;
    background-color: var(--secondaryColor);
    color: white;
    cursor: pointer;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}

.submit:active {
    background-color: #FF9C2B;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: auto;
    transform: translate(0, 35vh);
    padding-bottom: 100px;
    
}

.mainContainer span {
    font-family: var(--font);
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
}

.childContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: 65vw;
}

.characterCard {
    width: 250px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow:  5px 5px 75px #b5b5b5,
             -5px -5px 75px #ffffff;
}

.characterCard img {
    width: 214.2px;
    height: 300px;
    margin-left: 7.5%;
}

.mainContainer button {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-size: 32px;
    font-family: var(--font);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    transform: translate(50%, 40px);
    width: 50%;
}

.mainContainer button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.mainContainer button:active {
    background-color: #FF9C2B;
}
